<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Custom CSS -->

    <link rel="stylesheet" href="styles.css" />
    <title>Web Develop 1</title>
</head>
<body>
    <div class="header__bar">Free Shipping on Orders Over $50</div>
    <nav class="section__container nav__container">
        <a href="#" class="nav__logo">Mon'sa</a>
        <div class="nav__links">
            <a href="/">HOME</a>
            <a href="products">PRODUCTS</a>
            <a href="about">ABOUT</a>
            <a href="contact">CONTACT</a>
            <a href="admin">ADMIN</a>
            <a href="">USERS : <span id="connected-users-count">0</span></a>



        </div>
        <div class="nav__icons">
            <% if (loggedIn) { %>
                <a class="nav-link" href="logout"><i class="fa fa-sign-out-alt"></i></a>
                <a class="nav-link" href="profile"><i class="fas fa-user"></i> profile</a>
                <a class="nav-link" href="cart"><i class="fas fa-shopping-bag"></i> cart</a>
                <% } else { %>
                    <a class="nav-link" href="login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a class="nav-link" href="register"><i class="fas fa-user-plus"></i> Register</a>
                    <% } %>
        </div>
    </nav>

    
    <section class="contact_section layout_padding-bottom layout_padding2-top">
        <div class="container px-0">
            <div class="heading_container">
                <h2 class="">
                    Con<span>ta</span>ct Us
                </h2>
            </div>
    
        </div>
        <div class="container container-bg">
            <div class="row">
                <div class="col-lg-8 col-md-7 px-0">
                    <div class="map_container">
                        <div class="map-responsive">
                            <iframe
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                                width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 px-0">
                    <form action="">
                        <div>
                            <input type="text" placeholder="Name" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" placeholder="Phone" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Message" />
                        </div>
                        <div class="d-flex ">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <footer class="section__container footer__container">
        <div class="footer__col">
            <h4 class="footer__heading">CONTACT INFO</h4>
            <p>
                <i class="ri-map-pin-2-fill"></i> 123, London Bridge Street, London
            </p>
            <p><i class="ri-mail-fill"></i> support@monsa.com</p>
            <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">COMPANY</h4>
            <p>Home</p>
            <p>About Us</p>
            <p>Work With Us</p>
            <p>Our Blog</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">USEFUL LINK</h4>
            <p>Help</p>
            <p>Track My Order</p>
            <p>Men</p>
            <p>Women</p>
            <p>Shoes</p>
        </div>
        <div class="footer__col">
            <h4 class="footer__heading">INSTAGRAM</h4>
            <div class="instagram__grid">
                <img src="images/instagram-1.jpg" alt="instagram" />
                <img src="images/instagram-2.jpg" alt="instagram" />
                <img src="images/instagram-3.jpg" alt="instagram" />
                <img src="images/instagram-4.jpg" alt="instagram" />
                <img src="images/instagram-5.jpg" alt="instagram" />
                <img src="images/instagram-6.jpg" alt="instagram" />
            </div>
        </div>
    </footer>
    <div class="section__container footer__bar">
        <div class="copyright">
            Copyright © 2023 Web Design Mastery. All rights reserved.
        </div>
        <div class="footer__form">
            <form>
                <input type="text" placeholder="ENTER YOUR EMAIL" />
                <button class="btn" type="submit">SUBSCRIBE</button>
            </form>
        </div>
    </div>


</body>
</html>
<style>
    .contact_section {
  position: relative;
}

.contact_section .container-bg {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.contact_section .heading_container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-bottom: 45px;
}

.contact_section .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact_section form {
  padding-right: 35px;
  padding: 45px 20px;
}

.contact_section input {
  width: 100%;
  border: 1px solid #919191;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  display: inline-block;
  padding: 12px 45px;
  background-color: #fbac2e;
  color: #ffffff;
  border: 1.5px solid #fbac2e;
  border-radius: 0;
  display: block;
  color: #fff;
  margin: 35px auto 0 auto;
}

.contact_section button:hover {
  background-color: transparent;
  color: #fbac2e;
}

.contact_section .map_container {
  height: 100%;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

</style>