<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="styles.css" />
    <title>Web Develop 1</title>
</head>

<body>
    <div class="header__bar">Free Shipping on Orders Over $50</div>
    <nav class="section__container nav__container">
        <a href="#" class="nav__logo">Mon'sa</a>
        <div class="nav__links">
            <a href="/">HOME</a>
            <a href="products">PRODUCTS</a>
            <a href="about">ABOUT</a>
            <a href="contact">CONTACT</a>
            <a href="admin">ADMIN</a>
            <a href="">USERS : <span id="connected-users-count">0</span></a>



        </div>
        <div class="nav__icons">
            <% if (loggedIn) { %>
                <a class="nav-link" href="logout"><i class="fa fa-sign-out-alt"></i></a>
                <a class="nav-link" href="profile"><i class="fas fa-user"></i> profile</a>
                <a class="nav-link" href="cart"><i class="fas fa-shopping-bag"></i> cart</a>
                <% } else { %>
                    <a class="nav-link" href="login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    <a class="nav-link" href="register"><i class="fas fa-user-plus"></i> Register</a>
                    <% } %>
        </div>
    </nav>

    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">User</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px; margin-left: 180px;">
                            <h5 class="my-3">
                                FULL NAME
                            </h5>
                            <p class="text-muted mb-4">
                                adress
                            </p>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fas fa-globe fa-lg text-warning"></i>
                                    <p class="mb-0">https://mdbootstrap.com</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <p class="mb-0">@mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                    <p class="mb-0">mdbootstrap</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <span class="text-muted mb-0">
                                        ADRESS
                                    </span>

                                    <span style="float: right;" class="text-muted mb-0">
                                        <button class="btn btn-outline-info" id="changeFullNameBtn"> Change Full name
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Password</p>
                                </div>
                                <div class="col-sm-9">
                                    <span class="text-muted mb-0">
                                        Password
                                    </span>

                                    <span style="float: right;" class="text-muted mb-0">
                                        <button class="btn btn-outline-info" id="changePassword"> Change Password
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <span class="text-muted mb-0">
                                        EMAIL
                                    </span>
                                    <span style="float: right;"><button class="btn btn-outline-info"
                                            id="changeEmail">Change Email
                                            Adress</button></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <span class="text-muted mb-0">
                                        PHONE
                                    </span>
                                    <span style="float: right;">
                                        <button class="btn btn-outline-info" id="changePhoneNumber"> Change Phone Number
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <span class="text-muted mb-0">
                                       ADRESS
                                    </span>
                                    <span style="float: right;">
                                        <button class="btn btn-outline-info" id="changeAdress">Change Adress</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1>Orders</h1>
                    <div class="card mb-4">

                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Products</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <tr>
                                            <td>
                                                TITLE
                                            </td>
                                            <td>
                                              QUANTITY
                                            </td>

                                            <td>
                                                DATE
                                            <td>PRICE
                                            </td>
                                        </tr>

                                </tbody>

                            </table>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <hr />

</body>

</html>
